<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.6.3" targetFramework="net46" />
  <package id="cef.redist.x64" version="84.4.1" targetFramework="net46" />
  <package id="cef.redist.x86" version="84.4.1" targetFramework="net46" />
  <package id="CefSharp.Common" version="84.4.10" targetFramework="net46" />
  <package id="CefSharp.Wpf" version="84.4.10" targetFramework="net46" />
  <package id="DotNetZip" version="1.13.8" targetFramework="net46" />
</packages>